body
{
	margin: 0px;
	background: #ffffff;
	color: #333333;
	font-size: 12px;
	text-align: center;
	
}
table
{
	text-align: left;
}
td
{
	font-size: 12px;
}
input, textarea
{
	font-size: 12px;
	border-width: 1px;
}
select
{
	font-size: 12px;
	border-width: 1px;
}
ul.nl
{
	list-style: none outside none;
	margin: 0px;
	padding: 0px;
	width: 100%;
}
ul.nl li
{
	height: 20px;
	padding-top: 3px;
	padding-left: 15px;
	background: url(../images/bullet.gif) no-repeat 0px;
	background-position: left 4px;
}
ul li.fixed
{
	height: 20px;
	padding-top: 3px;
	padding-left: 15px;
	background: url(../images/top.gif) no-repeat 0px;
	background-position: left 1px;
}
ul li.nav
{
	height: 20px;
	padding-top: 3px;
	padding-left: 20px;
	background: url(../images/class_nav.gif) no-repeat 0px;
	background-position: left 1px;
}
table.thumbnail
{
	border: solid 1px #f7f7f7;
	background: #e5e5e5;
}
table.thumbnail td
{
	padding: 3px;
	background: #ffffff;
	border: solid 1px #b2b2b2;
}
table.thumbnail td img
{
	border: solid 1px #999999;
}

img
{
	border-style: none;
	vertical-align: middle;
}

a:link, a:visited
{
	color: #000000;
	text-decoration: none;
}
a:hover
{
	color: #000000;
	text-decoration: underline;
}

a.highlight:link, a.highlight:visited
{
	color: Red;
	text-decoration: none;
}
a.highlight:hover
{
	color: Red;
	text-decoration: underline;
}
.highlight
{
	color: Red;
}

.twidth
{
	margin-left: auto;
	margin-right: auto;
	border-left: solid 1px #dddddd;
	border-right: solid 1px #dddddd;
	text-align: center;
	vertical-align: text-top;
}

.content
{
	width: 100%;
	margin: 0px;
	padding: 10px;
	display: block;
	font-size: 14px;
	font-family: ו, arial;
	line-height: 140%;
}
.content a:visited, .content a:link
{
	color: blue;
	text-decoration: underline;
}
.content a:hover
{
	color: red;
}

#sitehead
{
	width: 100%;
}
#sitehead td.m
{
	width: 100%;
}
#sitehead td.l
{
	width: 0px;
}
#sitehead td.r
{
	width: 0px;
}

#middle
{
	width: 100%;
}

#footer
{
	width: 100%;
	line-height: 120%;
	border-top: solid 1px #eeeeee;
}

#navbar
{
	width: 100%;
}
#navbar td.m
{
	height: 30px;
	width: auto;
	color: #d9ebfd;
	text-align: center;
	background: url(../images/navbar.gif);
}
#navbar td.m img
{
	vertical-align: middle;
}
#navbar td.l
{
	width: 10px;
	background: url(../images/navbar_l.gif);
}
#navbar td.r
{
	width: 10px;
	background: url(../images/navbar_r.gif);
}
#navbar td a:link, #navbar td a:visited
{
	color: #d9ebfd;
	text-decoration: none;
}
#navbar td a:hover
{
	color: #ffffff;
	text-decoration: none;
}

#navsub
{
	width: 100%;
}
#navsub td.m
{
	width: 100%;
	height: 25px;
	padding-left: 10px;
	padding-right: 10px;
	background: #fcfcfc;
}
#navsub td.l
{
	display: none;
	width: 0px;
}
#navsub td.r
{
	display: none;
	width: 0px;
}

.bulletin a:link, .bulletin a:visited
{
	color: #606060;
	text-decoration: none;
}
.bulletin a:hover
{
	color: #333333;
	text-decoration: none;
}
.bulletin
{
	width: 96%;
}

.lframe
{
	width: 196px;
	text-align: left;
}
.lframe table
{
	table-layout: fixed;
}
.lframe td table
{
	table-layout: auto;
}
.lframe td.tm
{
	height: 25px;
	background: #f6f6f6;
	border-bottom: solid 1px #dddddd;
	border-top: solid 1px #dddddd;
}
.lframe td.tl
{
	width: 5px;
	background: #6699ee;
}
.lframe td.tr
{
	width: 1px;
	background: #dddddd;
}
.lframe span.tt
{
	color: #666666;
	font-weight: bold;
	padding-left: 10px;
}
.lframe td.mm
{
	background: #ffffff;
	padding: 5px;
}
.lframe td.ml
{
	width: 0px;
	background: #dddddd;
}
.lframe td.mr
{
	width: 1px;
	background: #dddddd;
}
.lframe td.bm
{
	height: 12px;
	border-top: solid 1px #e6e6e6;
	background: url(../images/shadow.gif) no-repeat;
}
.lframe td.bl
{
	display: none;
	width: 18px;
}
.lframe td.br
{
	display: none;
	width: 22px;
}

.mframe
{
	width: 100%;
	text-align: left;
}
.mframe table
{
	table-layout: fixed;
}
.mframe td table
{
	table-layout: auto;
}
.mframe td.tm
{
	height: 25px;
	border-top: solid 4px #2b90f5;
	background: #f0f0f0;
}
.mframe td.tl
{
	width: 25px;
	background: url(../images/arrow.gif) no-repeat;
}
.mframe td.tr
{
	width: 0px;
}
.mframe span.tt
{
	color: #009900;
	font-weight: bold;
	padding-left: 10px;
}
.mframe td.mm
{
	background: #fcfcfc;
	text-align: center;
}
.mframe td.ml
{
	width: 0px;
	background: #e1e0e0;
}
.mframe td.mr
{
	width: 0px;
	background: #e1e0e0;
}
.mframe td.bm
{
	display: none;
	height: 0px;
	background: #e1e0e0;
}
.mframe td.bl
{
	display: none;
	width: 18px;
}
.mframe td.br
{
	display: none;
	width: 22px;
}

.rframe
{
	width: 196px;
	text-align: left;
}
.rframe table
{
	table-layout: fixed;
}
.rframe td table
{
	table-layout: auto;
}
.rframe td.tm
{
	height: 25px;
	background: #f6f6f6;
	border-bottom: solid 1px #dddddd;
	border-top: solid 1px #dddddd;
}
.rframe td.tl
{
	width: 5px;
	background: #6699ee;
}
.rframe td.tr
{
	width: 1px;
	background: #dddddd;
}
.rframe span.tt
{
	color: #666666;
	font-weight: bold;
	padding-left: 10px;
}
.rframe td.mm
{
	background: #ffffff;
	padding: 5px;
}
.rframe td.ml
{
	width: 0px;
	background: #dddddd;
}
.rframe td.mr
{
	width: 1px;
	background: #dddddd;
}
.rframe td.bm
{
	height: 12px;
	border-top: solid 1px #e6e6e6;
	background: url(../images/shadow.gif) no-repeat;
}
.rframe td.bl
{
	display: none;
	width: 18px;
}
.rframe td.br
{
	display: none;
	width: 22px;
}

.member
{
	width: 196px;
	text-align: left;
}
.member table
{
	table-layout: fixed;
}
.member td table
{
	table-layout: auto;
}
.member td.tm
{
	height: 25px;
	background: #f6f6f6;
	border-bottom: solid 1px #dddddd;
	border-top: solid 1px #dddddd;
}
.member td.tl
{
	width: 5px;
	background: #6699ee;
}
.member td.tr
{
	width: 1px;
	background: #dddddd;
}
.member span.tt
{
	color: #666666;
	font-weight: bold;
	padding-left: 10px;
}
.member td.mm
{
	background: #ffffff url(../images/bg_member.gif) repeat-x;
	padding: 3px;
}
.member td.ml
{
	width: 0px;
	background: #dddddd;
}
.member td.mr
{
	width: 1px;
	background: #dddddd;
}
.member td.bm
{
	height: 12px;
	border-top: solid 1px #e6e6e6;
	background: url(../images/shadow.gif) no-repeat;
}
.member td.bl
{
	display: none;
	width: 18px;
}
.member td.br
{
	display: none;
	width: 22px;
}

.summary-title
{
	height: 25px;
	font-weight: bold;
	background: #f9f9f9;
}

.gray
{
	color: gray;
	text-decoration: none;
}
.time
{
	color: #ff6600;
}
.hit
{
	color: green;
}

.tdbg
{
	background: #ffffff;
	line-height: 120%;
}
.tdbg-dark
{
	background: #f8f8f8;
	line-height: 120%;
}

.hr
{
	height: 2px;
	background: url(../images/hr.gif);
}

.quote
{
	background: #ffffff;
	margin: 10px;
	padding: 5px;
	border: solid 1px #cccccc;
	font-family: verdana, arial, ו;
}

.menuskin
{
	border: solid 1px #666666;
	visibility: hidden;
	font: Verdana 12px;
	position: absolute;
	text-align: left;
	background-color: #f6f6f6;
	background-image: url(../images/menu_bg.gif);
}
.menuskin a
{
	color: black !important;
	padding-right: 10px;
	padding-left: 25px;
	text-decoration: none;
}
.menuskin a:hover
{
	text-decoration: none;
}
#mouseoverstyle
{
	margin: 2px;
	padding: 0px;
	background-color: #a2cefb;
	border: solid 1px #666666;
}
#mouseoverstyle a
{
	color: black;
}
.menuitems
{
	margin: 2px;
	padding: 1px;
	
}
