body
{
	margin-top:0px;
	text-align:center;
	font-family:Arial 宋体;
	font-size:12px;
}

td
{
	margin-top:0px;
	font-family:Arial 宋体;
	font-size:12px;
}

a
{
	text-decoration:none;
}
img{ border-width:0px;}
.WebBody
{
	width:980px;
	margin:auto auto;
}
.Header
{
	width:980px;
	
}
.Menu
{
	width:980px;
	height:26px;
	text-align:left;
}
.Menu a
{
	color:#FFFFFF;
	font-family:宋体;
	text-decoration:none;
	font-size:14px;
	margin-left:10px;	
}
.Main
{
	width:980px;
	height:auto;
	clear:both;
	margin-top:5px;
	overflow:hidden;
}
.Left
{
	width:200px;
	height:auto;
	clear:both;
	float:left;
}
.Middle
{
	width:570px;
	height:auto;
	float:left;
	margin-left:4px;
	margin-top:5px;

}
.Right
{
	margin-top:5px;
	width:200px; 
	height:auto;
	text-align:left;  
	float:right;  
	clear:right; 
	overflow:hidden; 
}
.ContactBox,.NewsBox,.DownloadBox
{
	width:200px; 
	height:180;
	text-align:left;  
	border:1px solid #EEEEEE;
	font-family:宋体;
}
.ContacTitle,.NewsTitle,.DownloadTitle
{
	width:100%;
	height:25px;
	font-weight:bold;
	color:#FF9900;
	line-height:25px;
	text-align:left;
	text-indent:1em;background-color:#EDEEEE;
}
.ContactRow
{
	width:100%;
	margin-top:5px;
	margin-bottom:5px;
	margin-left:10px; 
	color:#666666;
}
.NewsBox
{ 
	height:235px;
	margin-top:5px;
}
.NewsRow 
{
	width:100%;
	height:20px;
	line-height:20px;
	color:#666666;
	margin-left:10px;
}

.DownloadListRow 
{
	width:100%;
	height:210px;
	line-height:20px;
	color:#666666;
	margin-left:10px;
}
.DownloadBox
{
	height:260px;
	margin-top:5px;
	
}
.DownloadRow
{
	width:100%;
	height:16px;
	line-height:16px;
	background-image:url('../../../Images/PDF.gif');
	background-repeat:no-repeat;
	margin-top:2px;
	text-indent:2em;
}
.DownloadRow a
{
	color:#333333;
}
.CategoryBox
{
	width:100%;
	height:auto;
	clear:both;
	background-color:#EEEEEE;
}
.CategoryTitle
{
	width:200px;
	height:25px;
	background-image:url('../../../Images/CategoryImages.gif'); 
}
.Profile
{
	width:570px;
	border:1px solid #EEEEEE;
}
.GuestBook
{
	width:570px;
	border:1px solid #EEEEEE;
}
.Downloads
{
	width:570px;
	border:1px solid #EEEEEE;
}
.News
{
	width:570px;
	border:1px solid #EEEEEE;
}
.Contact
{
	width:570px;
	border:1px solid #EEEEEE;
}
.Advertise
{
	width:570px;
	border:1px solid #EEEEEE;
}

.ProfileContent
{
	width:560px;
	line-height:20px;
	text-align:left;
	color:#999999;
	margin:10 auto 5 auto;
	text-indent:2em;
	height:auto;
	overflow:hidden; 
}
.ProfileTitle
{
	width:100%;
	height:25px;
	font-weight:bold;
	color:#FF9900;
	line-height:25px;
	text-align:left;
	text-indent:1em;background-color:#EDEEEE;
}

.ShowProductContainer
{
	width:570px;
	height:500px; 
	margin-top:5px;
}
.ShowProductTitle
{
	width:100%;
	height:25px;
	font-weight:bold;
	color:#FF9900;
	line-height:25px;
	text-align:left;
	text-indent:1em;background-color:#EDEEEE;
}
.ShowProductBox
{
	width:570px;
	height:auto;
	border:1px solid #EEEEEE;
	text-align:left;
	padding-bottom:5px;
	overflow:hidden;
}
.ProductBox
{
	width:108px;
	height:130px;
	border:1px solid #EEEEEE;
	float:left;
	margin-top:5px;
	margin-left:2px;
}
.ProductPhoto
{
	width:102px;
	height:100px;
	overflow:hidden;
	margin-top:3px;
	vertical-align:middle;
	text-align:center;
	
}
.ProductName
{
	width:100px;
	height:25px; 
	line-height:25px;
	text-align:center;
	margin-top:0px;
	overflow:hidden;
}
.ProductName a
{
	color:#666666;
}
.Footer
{
	width:980px;
	margin-top:5px;
}
.FooterTitle
{
	width:980px;
	height:20px;
	background-color:#dddddd;
}
.ViewMore
{
	width:100%;
	height:18px;
	line-height:20px;
	text-align:right;
	margin-right:10px;
	font-family:宋体;
}
.ViewMore a
{
	color:#CC3300;	
}
.FooterRow
{
	width:100%;
	height:20px;
	line-height:20px;
	margin-top:5px;
	color:#666666;
	font-family:宋体;
}
.FooterRow a
{
	color:#666666;
	margin-left:30px;
}
.Link
{
	width:1005;
	height:25px;
	line-height:25px;
	text-align:left;
}
.LinkOption 
{
	margin-left:20px;
	color:#666666;
}
.CategoryCote
{
	width:95%;
	height:25px;
	line-height:25px;
	background-color:#EFF1F0;
	margin-top:5px;
	margin-left:5px;
}
.CategoryCote A
{
	color:#FF9900;
	font-size:14px;
	font-weight:bold;
}
.CategoryRow
{
	width:100%;
	height:25px;
	line-height:25px;
	border-bottom:solid 1px #FFFFFF;
	margin-left:25px;
}
.CategoryRow a
{
	color:#333333;
}
.ViewMore1
{
	 color:#CC3300; 
	 font-weight:normal;
	 margin-left:10px; 
	 text-decoration:none; 
	 font-family:宋体;
}
.NewsRow a
{
	color:#666666;
}
.SourceCategory
{
	width:100%;
	height:20px;
	line-height:20px;
	margin:5 0 5 0;
	font-family:宋体;
	color:#666666;
	text-align:left;
}
